In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [4]:
data = pd.read_csv("Groceries_dataset.csv")
data

       Member_number        Date        itemDescription
0               1808  21-07-2015         tropical fruit
1               2552  05-01-2015             whole milk
2               2300  19-09-2015              pip fruit
3               1187  12-12-2015       other vegetables
4               3037  01-02-2015             whole milk
...              ...         ...                    ...
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [5]:
# 3. Data Cleaning (Pembersihan Data)
# Menghilangkan Duplikasi, menghapus baris yang memiliki duplikasi dalam semua kolom
data_cleaned = data.drop_duplicates()

In [6]:
# Tampilkan informasi setelah menghapus duplikasi
print(f"Data after removing duplicates: {data_cleaned.shape[0]} rows")

Data after removing duplicates: 38006 rows

In [7]:
# Menangani Data Hilang, mengecek jumlah data yang hilang pada setiap kolom
missing_data = data_cleaned.isnull().sum()
print("Missing Data in Each Column:")
print(missing_data)

Missing Data in Each Column:
Member_number      0
Date               0
itemDescription    0
dtype: int64

In [11]:
# Menghilangkan baris yang memiliki data hilang atau bisa juga mengisi dengan nilai tertentu (misalnya 'Unknown' untuk itemDescription)
# Jika ingin mengisi nilai yang hilang
data_cleaned.loc[:, 'itemDescription'] = data_cleaned['itemDescription'].fillna('Unknown')

In [12]:
# Jika ingin menghapus baris yang memiliki nilai hilang
data_cleaned = data_cleaned.dropna()

In [13]:
print(f"Data after handling missing values: {data_cleaned.shape[0]} rows")

Data after handling missing values: 38006 rows

In [14]:
# 4. Data Transformation (Transformasi Data), mengubah kolom 'Date' menjadi format datetime
data_cleaned['Date'] = pd.to_datetime(data_cleaned['Date'])

C:\Users\User\AppData\Local\Temp\ipykernel_12500\2122292244.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data_cleaned['Date'] = pd.to_datetime(data_cleaned['Date'])

In [15]:
# Mengubah 'itemDescription' menjadi lowercase agar konsisten
data_cleaned['itemDescription'] = data_cleaned['itemDescription'].str.lower()

In [16]:
# Menambahkan kolom baru jika perlu (misalnya bulan, tahun)
data_cleaned['Year'] = data_cleaned['Date'].dt.year
data_cleaned['Month'] = data_cleaned['Date'].dt.month
data_cleaned['Day'] = data_cleaned['Date'].dt.day

In [17]:
# Splitting Data (Pembagian Data)
# Membagi data menjadi data latih dan data uji ( 80% latih, 20% uji)
from sklearn.model_selection import train_test_split

In [18]:
#ingin memprediksi 'itemDescription', jadi target kita adalah 'itemDescription'
X = data_cleaned.drop('itemDescription', axis=1)  # Fitur
y = data_cleaned['itemDescription']  # Target

In [19]:
# Split data menjadi 80% latih dan 20% uji
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
# Tampilkan ukuran data setelah dibagi
print(f"Training data size: {X_train.shape[0]} rows")
print(f"Testing data size: {X_test.shape[0]} rows")

Training data size: 30404 rows
Testing data size: 7602 rows

In [21]:
# Output akhir untuk verifikasi
print("Preprocessing completed successfully!")

Preprocessing completed successfully!

In [25]:
# Transaction Encoding dengan TransactionEncoder
from mlxtend.preprocessing import TransactionEncoder

In [26]:
# Mengambil kolom yang relevan (Member_number, Date, itemDescription)
data_relevant = data[['Member_number', 'Date', 'itemDescription']]

In [27]:
# Menyusun Data Transaksi Berdasarkan Member_number dan Date, Asumsi satu transaksi adalah satu kombinasi Member_number dan Date
transactions = data_relevant.groupby(['Member_number', 'Date'])['itemDescription'].apply(list).reset_index(name='Transactions')

In [28]:
# Mengelompokkan data berdasarkan Member_number dan Date, dan menggabungkan itemDescription yang sama dalam satu list
transactions = data_relevant.groupby(['Member_number', 'Date'])['itemDescription'].apply(list).reset_index(name='Transactions')