In [33]:
import pandas as pd

In [34]:
# 1. Load dataset
data = pd.read_csv("Groceries_dataset.csv")
data

       Member_number        Date        itemDescription
0               1808  21-07-2015         tropical fruit
1               2552  05-01-2015             whole milk
2               2300  19-09-2015              pip fruit
3               1187  12-12-2015       other vegetables
4               3037  01-02-2015             whole milk
...              ...         ...                    ...
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [35]:
# 2. Data cleaning
# Menghilangkan Duplikasi, menghapus baris yang memiliki duplikasi dalam semua kolom
data_cleaned = data.drop_duplicates()
# Tampilkan informasi setelah menghapus duplikasi
print(f"Data after removing duplicates: {data_cleaned.shape[0]} rows")

data['itemDescription'] = data['itemDescription'].str.lower().str.strip()
data['Date'] = pd.to_datetime(data['Date'], dayfirst=True)

Data after removing duplicates: 38006 rows

In [36]:
# 3. Cek missing value 
print(data.isnull().sum())

Member_number      0
Date               0
itemDescription    0
dtype: int64

In [37]:
# 4. Bentuk data transaksi: satu transaksi = satu kombinasi Member_number + Date
transactions = data.groupby(['Member_number', 'Date'])['itemDescription'].apply(list).reset_index(name='Transactions')

In [38]:
# Merubah data mentah menjadi data transaksi (transactions), Pastikan item sudah dalam lowercase dan bersih
data['itemDescription'] = data['itemDescription'].str.lower().str.strip()
# Ubah kolom Date ke datetime (opsional, lebih rapi)
data['Date'] = pd.to_datetime(data['Date'], dayfirst=True)
# GROUP BY
transactions = data.groupby(['Member_number', 'Date'])['itemDescription'].apply(list).reset_index(name='Transactions')

# Lihat hasil
print(transactions.head())

   Member_number       Date                                       Transactions
0           1000 2014-06-24                  [whole milk, pastry, salty snack]
1           1000 2015-03-15  [sausage, whole milk, semi-finished bread, yog...
2           1000 2015-05-27                         [soda, pickled vegetables]
3           1000 2015-07-24                     [canned beer, misc. beverages]
4           1000 2015-11-25                        [sausage, hygiene articles]

In [39]:
# 5. Split data transaksi menjadi train/test (misal, 80% train, 20% test)
from sklearn.model_selection import train_test_split
train, test = train_test_split(transactions, test_size=0.2, random_state=42)

print(f"Jumlah transaksi train: {len(train)}")
print(f"Jumlah transaksi test: {len(test)}")

Jumlah transaksi train: 11970
Jumlah transaksi test: 2993